# gradle

.gradle/
build/
out/
classes/
**/target/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

# java/tooling

.jdk21/
*.class
*.log

# fabric

run/